.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefc01;
  height: 100vh;
}

.App__logo {
  object-fit: contain;
  height: 100px;
}

.App__bodyBackground {
  background-color: white;
  height: 400px;
}

.App__body {
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png") no-repeat center;
  background-size: contain;
  height: 400px;
  width: 250px;
  padding: 73px;
}